button {
    width: 250px;
    height: 80px;
    font-size: 35px;
    font-family: 'Quicksand', sans-serif;
    font-weight: bold;
    color: white;
    border: 2px solid white;
    border-radius: 15px;
    margin: 5px;
    cursor: pointer;
}

button:hover {
    background-color: #2ec4b6;
}

.boton-clic {
    background-color: #e71d36;
}

.boton-reiniciar {
    background-color: #ff9f1c;
}
